h1{   text-align: center;
}
#Space1{
    margin-left:40.9%; 
    display: inline-block;
    height: 40px; 
    width: 80px; 
    text-align: center; 
    font-size: 20px; 
    font-family: 'Arial Narrow';
    font-weight: 500;
}
#Operation{
    text-align:center; 
    height: 45px; 
    width:60px; 
    font-size: larger; 
    margin-top: 40px; 
    font-weight: 400; 
    cursor:pointer;
}
#Space2{
    margin-right:1%; 
    display: inline-block;
    height: 40px; 
    width: 80px;  
    text-align: center; 
    font-size: 20px; 
    font-family: 'Arial Narrow'; 
    font-weight: 500;
}
#Value{
    border-radius: 10%;
    border: solid 2px black;
    text-align: center;
    background-color: rgb(156, 116, 248) ;
    width: 70px; 
    height: 20px;
    font-size: larger;   
    padding: 5px;
    padding-bottom: 13px;
    margin: auto;
    margin-top: 25px;
    font-size: 25px; 
    font-family: 'Arial Narrow', Arial, sans-serif; 
    cursor:pointer;
}
#Answ{
    display: none; 
    text-align: center; 
    margin: auto;
    border: solid 2px black;
    background-color:whitesmoke; 
    padding: 8.5px; 
    height: 22px; 
    width: 80px; 
    font-size: 20px; 
    font-family: 'Arial Narrow', Arial, sans-serif; 
    font-weight: 500; 
    border-radius: 5%;
}